/* Scss Document */

$header-font-color: #f5f5f7;
$header-background-color: #2d2e83;
$global-font-color: #212529; 
$body-font-color: #212529; 
$all-margin: 50% ;
$all-padding: 1.5em;


html{
	font-family: 'Muli', sans-serif ;
	color: $global-font-color;
	margin: 0; 

	}
body{
	margin: 0;
}
.hero{
	color: $header-font-color;
	margin: 0;
	display: block;
	background-color: $header-background-color;
	background-image: url(../images/hero.png);
	background-position: center;
	background-size: cover;
	background-color: #2d2e83;
	height: 70px;
	padding: 0 20px 40px;
	text-align: center;
	width: 100%;
		width: auto;
	
}
table, .hero{
	padding: $all-padding;
	
}
table{
//	padding: auto 0;
	border: 1px solid transparent;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.18);
    box-sizing: border-box;
	width: 70%;
	margin: auto;
}

tr:nth-child(odd) {background: #dddddd}
td{
	padding: .4em 1em;

}
table:nth-child(3){
		background-color: none;
	td{
		width: 10%;
	}
}
table {
	
	tr{
		select {
			color: #dd3049;
			background-color: #FFF;
			border: 1px solid #ECECEC;
			border-radius: 1px;
			box-shadow: inset 0 1px #E3E3E3;
			color: #333;
			cursor: pointer;
			display: inline-block;
			height: 30px;
			line-height: 30px;
			margin: 0;
			max-width: 250px;
			min-width: 150px;
			overflow: hidden;
			padding: 0 20px 0 5px;
			position: relative;
			text-overflow: ellipsis;
			z-index: 1;
			width: 100%;
			white-space: nowrap;
		}
	}
}

button {
  background-color: rgba(45, 46, 131, 1);
  border: 0;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.72;
  min-width: 190px;
  padding: 0 1.9286em;
  width: 100%;
}


/* .  DROP DOWN!!  */
//background-color: #FFF;
//border: 1px solid #ECECEC;
//border-radius: 1px;
//box-shadow: inset 0 1px #E3E3E3;
//color: #333;
//cursor: pointer;
//display: inline-block;
//height: 30px;
//line-height: 30px;
//margin: 0;
//max-width: 250px;
//min-width: 150px;
//overflow: hidden;
//padding: 0 20px 0 5px;
//position: relative;
//text-overflow: ellipsis;
//z-index: 1;
//width: 100%;
//white-space: nowrap;